* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #002d4f, #004070);
    color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #002b46;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin-left: 40px;
}

.nav-links ul li {
    padding-left: 30px;
}


.nav-links a {
    color: #f4f4f4;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #90cdf4;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons a {
    border: 1px solid #90cdf4;
    background: transparent;
    color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.auth-buttons a:hover {
    color: #90cdf4;
    background: #f4f4f4;
}

.auth-buttons .sign-up {
    border: #0C4B6E;
    background-color: #0C4B6E;
}

.auth-buttons .sign-up:hover {
    color: #0464a0;
    background: #f4f4f4;
}

.hero {
    text-align: center;
    padding: 65px 16px; 
}

.hero h1 {
    font-size: 2.5rem;
    margin: 16px 0;
}

.hero p {
    font-size: 1.125rem;
    color: aquamarine;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 64px 16px;
    gap: 32px;
}

.contact-section .contact-image img {
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
}

.contact-form {
    background: linear-gradient(135deg, #002d4f, #004070);
    padding: 32px;
    border-radius: 15px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
    margin-bottom: 24px;
    font-size: 1.5rem;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    color: #b0c8d9;
    font-size: 1rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 24px;
    border: 1px solid #4ecdc4;
    border-radius: 5px;
    background: #003b5c;
    color: #f4f4f4;
    outline: none;
    font-size: 1rem;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button{
    width: 100px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #4ecdc4, #3c91e6);
    color: #002b46;
    font-size: 1rem;
    cursor: pointer;
}

.contact-form button:hover {
    opacity: 0.7;
}

.journey {
    text-align: center;
    padding: 64px 16px;
}

.journey h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.journey button {
    margin-top: 16px;
    padding: 12px 32px;
    color: #0c2a45;
    background: linear-gradient(90deg, #4ecdc4, #3c91e6);
    border: none;
    border-radius: 20px;
    font-size: 1rem;
}

.footer {
    background-color: #003b5c;
    color: #f4f4f4;
    padding: 40px 20px;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.brand {
    flex: 1 1 300px;
}

.brand h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.brand p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe-form input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    color: #003b5c;
}

.subscribe-form button {
    padding: 8px 15px;
    background-color: #4ecdc4;
    color: #003b5c;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.subscribe-form button:hover {
    background-color: #3c91e6;
}

.footer-links {
    flex: 2 1 500px;
    display: flex;
    justify-content: space-between;
}

.footer-links h3 {
    color: #4ecdc4;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 11px solid #4ecdc4;
    padding-top: 10px;
    font-size: 0.8rem;
    color: #b0c4cc;
}