/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
   font-family: Arial, sans-serif;
   background-color: #0B1E2D;
   color: white;
   display: flex;
}

.sidebar {
  width: 250px;
  background-color: #102A44;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  width: 50px;
  height: auto;
  border-radius: 25px;
  margin-bottom: 20px;
}

.sidebar nav a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: block;
  background-color: #12395B;
  margin-bottom: 10px;
  text-align: center;
}

.sidebar nav a:hover {
  background-color: #1C5075;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-toggle {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 0.5rem 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.dropdown .dropdown-toggle:hover {
  background-color: #1a3d5a;
}

.dropdown .dropdown-menu {
  display: none;
  flex-direction: column;
  margin-top: 0.5rem;
  padding: 0;
}

.dropdown .dropdown-menu a {
  font-size: 0.7rem; /* Smaller font size */
  padding-left: 1.2rem; /* Indented */
}

.dropdown .dropdown-menu a.active {
  background-color: #62e3b5;
  color: #062032;
}

.dropdown .dropdown-menu a:hover {
  background-color: #1a3d5a;
}

.dropdown.open .dropdown-menu {
  display: flex;
}
.sidebar a.active {
  background-color: #5eead4;
  color: #102A44;
  font-weight: bold;
}

.logout {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  cursor: pointer;
  margin-top: auto;
  text-decoration: none;
}

.logout:hover {
  color: #62e3b5;
}

.logout-icon {
  color: #62e3b5;
  width: 20px;
  height: 20px;
}

.content {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
}

.withdraw-container {
    background-color: #153D56;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: 50px auto 0; /* Added margin to create space from the header */
    text-align: center;
}

.withdraw-container h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.withdraw-container h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #D3D3D3;
}

.wallet-content.active {
  display: block;
}

.hidden {
  display: none;
}



h1, h2 {
  font-size: 24px;
  margin-bottom: 20px;
}



.button {
    background-color: #fff;
    color: #0A2E43;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.button:hover {
  background-color: #58b577;
    color: #0A2E43;
}

.profile {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
border-radius: 10px;
margin-bottom: 20px;
color: #fff;
}

.profile h2 {
font-size: 20px;
margin: 0;
}

.profile img {
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 10px;
}

.profile span {
display: flex;
align-items: center;
}


.returns-wallet {
  text-align: center;
  background-color: #112b46; /* Adjust to match the background */
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
  color: #fff;
}

.returns-wallet h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.returns-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input::placeholder {
  color: #aaa;
}

.withdraw-button {
  background-color: #6fd791;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.withdraw-button:hover {
  background-color: #58b577;
}


.referral-wallet {
  text-align: center;
  background-color: #112b46; /* Adjust to match the background */
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
  color: #fff;
}

.referral-wallet h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.referral-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input::placeholder {
  color: #aaa;
}

.withdraw-button {
  background-color: #6fd791;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.withdraw-button:hover {
  background-color: #58b577;
}
