* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #002d4f, #004070);
    color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #002b46;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin-left: 40px;
}

.nav-links ul li {
    padding-left: 30px;
}


.nav-links a {
    color: #f4f4f4;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #90cdf4;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    border: 1px solid #90cdf4;
    background: transparent;
    color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.auth-buttons button:hover {
    color: #90cdf4;
    background: #4ecdc4;
}

.auth-buttons .sign-up {
    border: #0C4B6E;
    background-color: #0C4B6E;
}

.auth-buttons .sign-up:hover {
    color: #0464a0;
    background: #f4f4f4;
}

.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
}


.login-box {
    background: linear-gradient(135deg, #002d4f, #004070);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

.login-box h1{
    font-size: 2rem;
    margin-bottom: 10px;
}

.login-box p {
    margin-bottom: 20px;
    color: #c0c0c0;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #b0b0b0;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #4ecdc4;
    border-radius: 5px;
    background: #003b5c;
    color: #f4f4f4;
    outline: none;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options a {
    text-decoration: none;
    color: #00c6ff;
}

.options a:hover {
    text-decoration: underline;
}

.btn-primary {
    border-radius:25px;
    background: linear-gradient(135deg, #002d4f, #004070);
    border: none;
    padding: 12px 20px;
    border: 2px solid #002b46;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.btn-google {
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #002d4f, #004070);
    border: 2px solid #002b46;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

.btn-google a,
.btn-primary a {
    font-size: 0.7rem;
    text-decoration: none;
    color:  #f4f4f4;

}

.btn-google:hover,
.btn-primary:hover{
    background: linear-gradient(90deg, #4ecdc4, #3c91e6);
}


.btn-google img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.footer {
    background-color: #003b5c;
    color: #f4f4f4;
    padding: 40px 20px;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.brand {
    flex: 1 1 300px;
}

.brand h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.brand p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe-form input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    color: #003b5c;
}

.subscribe-form button {
    padding: 8px 15px;
    background-color: #4ecdc4;
    color: #003b5c;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.subscribe-form button:hover {
    background-color: #3c91e6;
}

.footer-links {
    flex: 2 1 500px;
    display: flex;
    justify-content: space-between;
}

.footer-links h3 {
    color: #4ecdc4;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 11px solid #4ecdc4;
    padding-top: 10px;
    font-size: 0.8rem;
    color: #b0c4cc;
}